.Carousel-container-outer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Carousel-container-inner {
  display: block;
  width: 100%;
  padding: 0 40px;
}

.Carousel-container-inner h1 {
  color: white;
  font-size: 34px;
}

.Carousel-breadcrumbs {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: flex-end;
}

.Carousel-breadcrumbs .breadcrumb-container {
  width: 94px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-before {
  background: url('./navigate_before.svg') no-repeat center;
}

.nav-next {
  background: url('./navigate_next.svg') no-repeat center;
}

.nav-before, .nav-next {
  height: 32px;
  width: 32px;
  display: block;
  color: white;
  border: none;
  cursor: pointer;
}

.Carousel-breadcrumbs span {
  width: 10px;
  border-radius: 50%;
  border: 2px solid white;
  height: 10px;
  margin-top: -5px;
}

.Carousel-breadcrumbs span.active {
  background: white;
}